<div class="row">
  <div class="col-sm-4 col-sm-offset-4">



    <form action="/posts/new" method="post">
      <legend>Create a Meteor</legend>

      <div class="form-group">
        <label for="meteor-name">Name</label>
        <input type="text" name="name" class="form-control" id="meteor-name" placeholder="Name">
      </div>

      <div class="form-group">
        <label for="meteor-id">ID</label>
        <input type="text" name="meteor-id" class="form-control" id="meteor-id">
      </div>

      <div class="form-group">
        <label for="meteor-type">Type</label>
        <input type="text" name="meteor-type" class="form-control" id="meteor-type">
      </div>

            <div class="form-group">
        <label for="meteor-class">Classification</label>
        <input type="text" name="meteor-class" class="form-control" id="meteor-class">
      </div>

            <div class="form-group">
        <label for="meteor-year">Year</label>
        <input type="number" name="meteor-year" class="form-control" id="meteor-year">
      </div>

                  <div class="form-group">
        <label for="meteor-mass">Mass</label>
        <input type="number" name="meteor-mass" class="form-control" id="meteor-mass">
      </div>


                  <div class="form-group">
        <label for="meteor-fall">How was this meteor located?</label>
        <input type="radio" name="meteor-fall" class="form-control" id="meteor-fall">

            <input type="radio" id="fall" name="meteor-located" value="fall">
                        <label for="Fall">Fall</label><br>
            <input type="radio" id="found" name="meteor-located" value="found">
            <label for="found">Found</label><br>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Submit Meteor</button>
      </div>
    </form>



  </div>
</div>